n8n_musetalk_workflow.json
{
  "name": "MuseTalk → YouTube Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "POST to this webhook with:\n- audio: binary audio file\n- image: binary avatar image\n- title: YouTube title\n- description: YouTube description\n- tags: comma separated tags"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming request has required fields\nconst body = $input.first().json;\nconst binary = $input.first().binary || {};\n\nconst errors = [];\nif (!binary.audio && !body.audio_url) errors.push('Missing audio file or audio_url');\nif (!binary.image && !body.image_url) errors.push('Missing image file or image_url');\n\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join(', '));\n}\n\nreturn [{\n  json: {\n    title: body.title || 'AI Productivity Video ' + new Date().toISOString().split('T')[0],\n    description: body.description || 'Generated with AI',\n    tags: body.tags || 'productivity,AI,automation',\n    audio_url: body.audio_url || null,\n    image_url: body.image_url || null,\n    has_binary_audio: !!binary.audio,\n    has_binary_image: !!binary.image,\n  },\n  binary: binary\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_URL }}/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ORCHESTRATOR_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "image"
            },
            {
              "parameterType": "formData",
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "parameterType": "formData",
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "parameterType": "formData",
              "name": "tags",
              "value": "={{ $json.tags }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "submit-to-orchestrator",
      "name": "Submit to Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "notes": "Submits job to orchestrator and gets back a job_id immediately"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $input.first().json.job_id;\nconst pollUrl = $input.first().json.poll_url;\n\nif (!jobId) throw new Error('No job_id returned from orchestrator');\n\nreturn [{ json: { job_id: jobId, poll_url: pollUrl, attempts: 0, max_attempts: 60 } }];"
      },
      "id": "store-job-id",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Poll every 30 seconds — total pipeline takes 10-20 min"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ORCHESTRATOR_URL }}/status/{{ $('Store Job ID').item.json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ORCHESTRATOR_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "poll-status",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const status = $input.first().json.status;\nconst attempts = $('Store Job ID').item.json.attempts + 1;\nconst maxAttempts = $('Store Job ID').item.json.max_attempts;\n\nif (attempts >= maxAttempts) {\n  throw new Error('Timed out after ' + maxAttempts + ' poll attempts');\n}\n\nconst isDone   = status === 'done';\nconst isFailed = status === 'failed';\nconst isStillRunning = !isDone && !isFailed;\n\nreturn [{ json: {\n  ...($input.first().json),\n  job_id: $('Store Job ID').item.json.job_id,\n  attempts,\n  max_attempts: maxAttempts,\n  is_done:    isDone,\n  is_failed:  isFailed,\n  keep_polling: isStillRunning,\n  current_step: $input.first().json.step || 'unknown',\n}}];"
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "keep-polling",
              "leftValue": "={{ $json.keep_polling }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "still-running",
      "name": "Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-done",
              "leftValue": "={{ $json.is_done }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "success-or-fail",
      "name": "Success or Fail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"job_id\": \"{{ $json.id }}\",\n  \"youtube_url\": \"{{ $json.youtube_url }}\",\n  \"message\": \"Video published to YouTube\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the error and send a notification\nconst error = $json.error || 'Unknown error';\nconst jobId = $json.id || $json.job_id;\nconsole.error(`Pipeline failed for job ${jobId}: ${error}`);\n\n// You can add Slack/email notification here\nreturn [{ json: { success: false, job_id: jobId, error: error } }];"
      },
      "id": "handle-failure",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-failure",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 540]
    },
    {
      "parameters": {
        "subject": "MuseTalk Pipeline Failed",
        "message": "=Job {{ $json.job_id }} failed:\n\n{{ $json.error }}",
        "options": {}
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2440, 660],
      "notes": "Configure your email credentials in n8n Credentials"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Submit to Orchestrator", "type": "main", "index": 0 }]]
    },
    "Submit to Orchestrator": {
      "main": [[{ "node": "Store Job ID", "type": "main", "index": 0 }]]
    },
    "Store Job ID": {
      "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]]
    },
    "Poll Status": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [[{ "node": "Still Running?", "type": "main", "index": 0 }]]
    },
    "Still Running?": {
      "main": [
        [{ "node": "Wait 30s", "type": "main", "index": 0 }],
        [{ "node": "Success or Fail?", "type": "main", "index": 0 }]
      ]
    },
    "Success or Fail?": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }],
        [{ "node": "Handle Failure", "type": "main", "index": 0 }]
      ]
    },
    "Handle Failure": {
      "main": [
        [
          { "node": "Respond Failure", "type": "main", "index": 0 },
          { "node": "Email Alert", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["video", "AI", "musetalk", "youtube"],
  "pinData": {},
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "musetalk-youtube-pipeline"
  }
}
